@using DISEASE_PREDICTION.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Model1 db = new Model1();

}




<div id="wrapper" class="home-page">
    <!-- start header -->
    <!-- end header -->
    <section id="banner">

        <!-- Slider -->
        <div id="main-slider" class="flexslider">
            <ul class="slides">
                <li>
                    <img src="~/content/img/slides/1.jpg" alt="" />
                    <div class="flex-caption container">
                        <h3>Caring for Health</h3>
                        <p>Doloribus omnis minus temporibus perferendis ipsa</p>
                    </div>
                </li>
                <li>
                    <img src="~/content/img/slides/2.jpg" alt="" />
                    <div class="flex-caption container">
                        <h3>Best Equipments</h3>
                        <p>Doloribus omnis minus temporibus perferendis ipsa</p>
                    </div>
                </li>
            </ul>
        </div>
        <!-- end slider -->

    </section>
    <section class="txt-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="aligncenter"><h1 class="aligncenter">We Care You</h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt eius magni provident, doloribus omnis minus temporibus perferendis nesciunt quam repellendus nulla nemo ipsum odit corrupti consequuntur possimus.</div>

                </div>
            </div>
        </div>
    </section>
    <a href="@Url.Action("services","Home")"><h3 style="font-weight:bold;margin-left:480px; color:beige;margin-right:550px;background:aqua;">All Medicines<small class="text-muted">(@db.TBL_MEDICINE.Count())</small></h3></a>
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="features">
                </div>
            </div>
        </div>
    </section>
    @foreach (var item in db.TBL_DISEASECATEGORY)
    {
       
            <div class="col-md-4 col-sm-6 wow fadeInUp animated" data-wow-duration="300ms" data-wow-delay="0ms" style="visibility: visible; -webkit-animation-duration: 300ms; -webkit-animation-delay: 0ms;">
                <div class="media service-box">
                    <div class="pull-left">
                        <img src="~/content/img/1.png" alt=""/>
                    </div>
                    <span class="media-body">
                        <a href="@Url.Action("services", "Home", new { id = item.DISEASE_ID })">@item.DISEASE_DESCRIPTION<small class="text-muted">(@item.TBL_MEDICINE.Count())</small></a>
                        <p>Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater</p>
                    </span>
                </div>
            </div><!--/.col-md-4-->}

    }

    
    <section class="aboutUs">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aligncenter"><h2 class="aligncenter">Welcome!</h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                    <br />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <img src="~/content/img/img1.png" alt="">
                    <div class="space"></div>
                </div>
                <div class="col-md-6">
                    <p><h5>Lorem ipsum dolor sit amet, cadipisicing  sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde fuga error commodi architecto, oribus omnis minus autem nemo numquam, ipsa architecto non. magni consequuntlaudantium culpa tenetur at id, beatae pet.</h5></p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. adipisicing  sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium,m deserunt.</p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-arrow-circle-right pr-10 colored"></i> Lorem ipsum enimdolor sit amet</li>
                        <li><i class="fa fa-arrow-circle-right pr-10 colored"></i> Explicabo deleniti neque aliquid</li>
                        <li><i class="fa fa-arrow-circle-right pr-10 colored"></i> Consectetur adipisicing elit</li>
                        <li><i class="fa fa-arrow-circle-right pr-10 colored"></i> Lorem ipsum dolor sit amet</li>
                        <li><i class="fa fa-arrow-circle-right pr-10 colored"></i> Quo issimos molest quibusdam temporibus</li>
                    </ul>
                </div>
            </div>

        </div>
    </section>
    <section id="events">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aligncenter"><h2 class="aligncenter">Our Events</h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt eius magni provident, doloribus omnis minus temporibus perferendis nesciunt quam repellendus nulla nemo ipsum odit corrupti consequuntur possimus.</div>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="post3">
                        <img src="~/content/img/e1.png" alt="">
                        <a href="#">
                            <time datetime="2015-03-01">
                                <span class="year">2015</span>
                                <span class="month">Feb</span>
                            </time>
                            <p>Lorem ipsum dolor sit amet, consectetur adipis.</p>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="post3">
                        <img src="~/content/img/e2.png" alt="">
                        <a href="#">
                            <time datetime="2015-03-01">
                                <span class="year">2015</span>
                                <span class="month">March</span>
                            </time>
                            <p>Apsum dolor sit amet, consectetur adipisdslif.</p>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="post3">
                        <img src="~/content/img/e3.png" alt="">
                        <a href="#">
                            <time datetime="2015-03-01">
                                <span class="year">2015</span>
                                <span class="month">April</span>
                            </time>
                            <p>Dolor sit amet, consectetur adipisic indfeft</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
