@using DISEASE_PREDICTION.Models;
@{
    ViewBag.Title = "book_Appointment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="pageTitle">Book Appointment</h2>
            </div>
        </div>
    </div>
</section>
<br />
<br />
<section>
    <div class="container">
        <div class="ad-content">
            <h1 style="color:darkcyan">THE BEST APPOINTMENT BOOKING METHOD</h1><br /><br />
            @if (Session["schlist"]!=null)
            {
                foreach(var item in (List < TBL_SCHEDULE >) Session["schlist"])
                {
        <center>
            <table class="table table-borderless" style="height:auto;width:500px;text-align:center;">
                <tr>
                    <td colspan="6" align="center" style="font-size:large;color: white;background-color:mediumturquoise">Detail of Appointment</td>
                </tr>

                <tr>
                    <th>Doctor</th>
                    <td><img src=" @Url.Content(item.TBL_DOCTOR.DOC_PIC)" style="height: 70px; width:70px "></td>
                </tr>
                <tr>
                    <th>Docter Name</th>
                    <td>@item.TBL_DOCTOR.DOC_NAME</td>
                </tr>
                <tr>
                    <th>Specialization</th>
                    <td>@item.TBL_DOCTOR.TBL_SPECIALIZATION.SPECIALIZATION</td>
                </tr>
                <tr>
                    <th>Appointment Date</th>
                    @*@<td>@DateTime.Parse(Session["AppDate"].ToString()).ToLongDateString()</td>*@
                </tr>
                <tr>
                    <th>Appointment Day</th>
                    <td>@item.TBL_SCH_DAY.SCH_DAY</td>
                </tr>
                <tr>
                    <th>Timming</th>
                    <td>@item.START_TIME - @item.END_TIME</td>
                </tr>
                <tr>
                    <th>Fee</th>
                    <td>@item.FEE</td>
                </tr>
                <tr>

                    <td></td>
                </tr>
            </table>
            <br />
            <h5 >Payment Method</h5>&nbsp;&nbsp; 
            ByHand &nbsp;<input type="radio" name="method" value="By Hand" />
            &nbsp;&nbsp;
            
              PayPal&nbsp;  <input type="radio" name="method" value="PayPal" />
                <br /><br />
                <span><a href="#" class="btn btn-success">Booked</a></span>
                &nbsp;            &nbsp;           &nbsp;&nbsp;&nbsp;
                <span><a href="#" class="btn btn-danger">Cancel</a></span>
                <br />

        </center>
                }

            }
            <a href="@Url.Action("doctor","appointment")">Want another Appointment?</a>
        </div>
    </div>
</section>

