@using DISEASE_PREDICTION.Utills;
@using DISEASE_PREDICTION.Models;
@{
    ViewBag.Title = "docprofile";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Model1 db = new Model1();
}


<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="pageTitle">Doctor_Profile</h2>
            </div>
        </div>
    </div>
</section>
<br />
<br />
<center><h3>Welcome DR @current_user.currentdoctor.DOC_NAME</h3></center><br />
<section>
    <div class="container">
        <a class="btn btn-success" style="text-align:right;float:right" href=" @Url.Action("index","Tbl_symptoms")" style="text-align:left;">Add symptoms </a>

        @if (current_user.currentdoctor != null)
        {
            <div class="row">
                <div class="col-lg-6">


                    <div class="doctor-title">
                        <div class="doctor-image wow zoomIn">
                            <img src="@Url.Content(current_user.currentdoctor.DOC_PIC)" @*class="col-md-6"*@ style="height:500px;width:400px" />
                            <br />
                        </div>
                    </div>
                </div>
                <div class="row" style="white-space:nowrap">
                    <div class="col-lg-6">

                        <div class="dt-outer wow slideInUp">
                            <h2 style="text-align:center">DR @current_user.currentdoctor.DOC_NAME</h2><hr /><br />
                            <ul style="list-style-type:none;text-align:center" @*class="col-md-8"*@>
                                <br />
                                <li><strong>SPECIALIZATION: &nbsp;@current_user.currentdoctor.TBL_SPECIALIZATION.SPECIALIZATION</strong></li>
                                <br />
                                <li><strong>ADDRESS : &nbsp;   @current_user.currentdoctor.DOC_ADDRESS</strong></li>
                                <br />
                                <li><strong>QUALIFICATION: &nbsp;@current_user.currentdoctor.QUALIFICATION</strong></li>
                                <br />
                                <li><strong>GENDER :&nbsp;    @current_user.currentdoctor.DOC_GENDER</strong></li>
                                <br />
                                <li><strong>EMAIL:&nbsp;@current_user.currentdoctor.DOC_EMAIL</strong></li>
                                <br />
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
        </section>
<section>
    <div class="container">
        <h2> My Appointments Record</h2><br />
        <table class="table table-bordered" style="text-align:center">
            <tr style="text-align:center;background-color:#257f83;color:white">
                <th style="text-align:center">DAY</th>
                <th style="text-align:center">STARTINT TIME</th>
                <th style="text-align:center">ENDING TIME</th>
                <th style="text-align:center">DATE</th>
                <th style="text-align:center">STATUS</th>

            </tr>
            @foreach (var item in db.TBL_APPOINTMENT)
            {
                if (current_user.currentdoctor.DOC_ID == item.TBL_SCHEDULE.DOC_FID)
                {
                    <tr>
                        <td>@item.TBL_SCHEDULE.TBL_SCH_DAY.SCH_DAY</td>
                        <td><input type="time" disabled value="@item.TBL_SCHEDULE.START_TIME" /> </td>
                        <td><input type="time" disabled value="@item.TBL_SCHEDULE.END_TIME" /></td>
                        <td>
                            @item.APP_DATE
                        </td>
                        <td>@item.APP_STATUS</td>

                    </tr>
                }

            }

        </table>
    </div>
</section>

