@model IEnumerable<DISEASE_PREDICTION.Models.TBL_FEEDBACK>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TBL_PATIENT.PATIENT_GENDER)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FEEDBACK_DETAIL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FEEDBACK_EMAIL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FEEDBACK_NAME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TBL_PATIENT.PATIENT_GENDER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FEEDBACK_DETAIL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FEEDBACK_EMAIL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FEEDBACK_NAME)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FEEDBACK_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.FEEDBACK_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FEEDBACK_ID })
        </td>
    </tr>
}

</table>
