@model IEnumerable<DISEASE_PREDICTION.Models.TBL_ORDER>
@using DISEASE_PREDICTION.Utills
@{
    ViewBag.Title = "NewOrders";
}

<h2>NewPurchase</h2>


<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.ORDER_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ORDER_DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ORDER_STATUS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ORDER_TYPE)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.PAYMENTMODE)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) 
{
    <tr>
        
        <td>
            @*@Html.DisplayFor(modelItem => item.ORDER_NAME)*@
            @current_user.currentadmin.ADMIN_NAME
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ORDER_DATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ORDER_STATUS)
        </td>
        <td>
            @item.ORDER_TYPE
        </td>
     
        <td>
            @Html.DisplayFor(modelItem => item.PAYMENTMODE)
        </td>
       
    </tr>
}

</table>
