@model IEnumerable<DISEASE_PREDICTION.Models.TBL_ADMIN>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <a class="btn btn-primary glyphicon glyphicon-pencil" href="@Url.Action("Create","TBL_ADMIN")">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
           ADMIN NAME
        </th>
        <th>
           ADMIN EMAIL
        </th>
        <th>
           ADMIN PASSWORD
        </th>
        <th>
            ADMIN CONTACT
        </th>
        <th>
           ADMIN ADDRESS
        </th>
        <th></th>
    </tr>

@foreach (var admin in Model) {
    <tr>
        <td>
            @admin.ADMIN_NAME
        </td>
        <td>
           @admin.ADMIN_EMAIL
        </td>
        <td>
            @admin.ADMIN_PASSWORD
        </td>
        <td>
           @admin.ADMIN_CONTACT
        </td>
        <td>
           @admin.ADMIN_ADDRESS
        <td>
            <a class="btn btn-primary glyphicon glyphicon-edit" href="@Url.Action("Edit","TBL_ADMIN",new{ id=admin.ADMIN_ID})">Edit</a>
            <a class="btn btn-primary glyphicon glyphicon-expand" href="@Url.Action("Details","TBL_ADMIN",new{ id=admin.ADMIN_ID})">Details</a>
            <a class="btn btn-primary glyphicon glyphicon-trash" href="@Url.Action("Delete","TBL_ADMIN",new{ id=admin.ADMIN_ID})">Delete</a>


            @*@Html.ActionLink("Edit", "Edit", new { id = admin.ADMIN_ID }) |
            @Html.ActionLink("Details", "Details", new { id = admin.ADMIN_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = admin.ADMIN_ID })*@
        </td>
    </tr>
}

</table>
