@model IEnumerable<DISEASE_PREDICTION.Models.TBL_SCHEDULE>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <a class="btn btn-primary fa fa-pencil-square" href="@Url.Action("Create","TBL_SCHEDULE")">Create New</a>

  
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TBL_DOCTOR.DOC_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TBL_SCH_DAY.SCH_DAY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FEE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.START_TIME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.END_TIME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MAX_APP)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.TBL_DOCTOR.DOC_NAME)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TBL_SCH_DAY.SCH_DAY)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FEE)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.START_TIME)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.END_TIME)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MAX_APP)
    </td>
    <td>
        <a class="btn btn-success  fa fa-edit " href="@Url.Action("Edit","TBL_SCHEDULE",new{ id=item.SCH_ID})"></a>|
        <a class="btn btn-grey fa fa-book" href="@Url.Action("Details","TBL_SCHEDULE",new{ id=item.SCH_ID})"></a>|
        <a class="btn btn-danger fa fa-trash" href="@Url.Action("Delete","TBL_SCHEDULE",new{ id=item.SCH_ID})"></a>|

    </td>

   
</tr>
}

</table>
